---
import BaseHead from '@/components/BaseHead.astro';
import Nav from '@/components/Nav.astro';
import RelaxShortcut from '@/components/RelaxShortcut.astro';
import Footer from '@/components/Footer.astro';
import '@/styles/fonts.css';
import '@/styles/global.css';

const { title, description, image, type, keywords } = Astro.props;
---
<html lang="fr" class="scroll-smooth h-full">
<!--


    ░█████╗░██████╗░███████╗██████╗░██╗
   ░██╔══██╗██╔══██╗██╔════╝██╔══██╗██║░
   ░██║░░╚═╝██████╔╝█████╗░░██████╔╝██║░
   ░██║░░██╗██╔═══╝░██╔══╝░░██╔═══╝░╚═╝░
   ░╚█████╔╝██║░░░░░███████╗██║░░░░░██╗░
    ░╚════╝░╚═╝░░░░░╚══════╝╚═╝░░░░░╚═╝


La plus juste expression de votre identité


-->
  <BaseHead {title} {description} {image} {type} {keywords} />
  <body class="h-full min-h-[100svh] flex flex-col antialiased text-stone-900 bg-slate-100">
    <Nav />
    <RelaxShortcut />
    <main id="main" class="flex-1 pt-12">
      <slot />
    </main>
    <Footer />
  </body>
</html>
